
div{
    width: 400px;
    height: 300px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.divAlignCenter{
    background-color: rgb(255, 247, 23);
    margin: 0 auto;
}

.divAlignLeft{
    background-color: rgb(255, 0, 187);
    float: left;
}

.divAlignRight{
    background-color: purple;
    float: right;
}

.divStick{
    background-color: green;
    position: sticky;
    top: 100px;
    left: 400px;
}


.divRelative{
    background-color: rgb(0, 255, 242);
    position: relative;
    top: 120px;
    left: 800px;
}

.divFixed{
    background-color:rgb(60, 255, 0);
    position: fixed;
    top: 200px;
    left: 200px;
}

.divStatic{
    background-color: rgb(7, 164, 255);
    position: static;
    top: 300px;
    left: 300px;
}

.divAbsolute{
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 60px;
    left:30px;
}